:javascript
  $(function() {
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    var scrollNav = new iScroll('navWrapper');

    function make_selection(el) {
      el.parents('nav').find('li').removeClass('selected');
      el.addClass('selected');
      var v = $('video')[0];
      var basepath = "/videos/more_vids/ripped";
      var filename = $(el).attr('data-filename');
      v.src = basepath +'/'+ filename;
      console.log( basepath +'/'+ filename);
      $('.title').html(filename);
      //v.src = "/videos/more_vids/ripped/AFM Banquet 2010 - YouTube.m4v";
      //v.src = $(this).html();
      v.load()
      v.play();
    }
    $('nav li').click(function(){make_selection($(this))});
  });

#page
  #content
    %video{:width=>"95%", :controls=>true, :autoplay=>true}
      %source{:id=>'vidsrc', :type=>"video/mp4"}
    %center
      .title
  #sidebar
    %header Nav
    %nav#navWrapper
      %ul#navScroller
        - @movies.each do |movie|
          %li{'data-filename'=>movie.filename}= movie.filename

%div
  %span tag/categorize
  %span rate
  %span move
  %span playlist
  %span delete
  %div
    - @categories.each do |category|
      %span
        = link_to category.name, home_url(category)
        (#{category.movies.size})

