
#page
  #content
    %video{:width=>"95%", :controls=>true, :autoplay=>true}
      %source{:id=>'vidsrc', :type=>"video/mp4"}
    %center
      .title
    #action_button_holder
  #sidebar
    %header Titles
    %nav#navWrapper
      %ul#navScroller
        - @movies.each do |movie|
          %li{'data-filename'=>movie.filename}= movie.filename

%div#action_buttons{:style=>'display:hidden'}
  .button tag/categorize
  .button rate
  .button move
  .button playlist
  .button delete
  %div#category_wrapper
    %div#category_scroller
      %ul#category_list
        - @categories.each do |category|
          %li
            .button
              = link_to category.name, home_url(category)
              (#{category.movies.size})

:javascript
  $(function(){
    $('#action_buttons').show().appendTo('#action_button_holder'); /* moves the element */
    var scrollNav = new iScroll('navWrapper');
    //var categoryNav = new iScroll('category_browser');

    function make_selection(el) {
      el.parents('nav').find('li').removeClass('selected');
      el.addClass('selected');
      var v = $('video')[0];
      var basepath = "/videos/more_vids/ripped";
      var filename = $(el).attr('data-filename');
      v.src = basepath +'/'+ filename;
      console.log( basepath +'/'+ filename);
      $('.title').html(filename);
      //v.src = "/videos/more_vids/ripped/AFM Banquet 2010 - YouTube.m4v";
      //v.src = $(this).html();
      v.load()
      v.play();
    }
    $('nav li').click(function(){make_selection($(this))});

  })